@import url(../css/reset.css);
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,700&display=swap");

:root {
  --font-family: "Lato", sans-serif;
  --font-size: 16px;
  --color-m0: #000000;
  --color-m1: #10171f;
  --color-m2: #1b2d41;
  --color-m3: #989187;
  --color-m4: #ba9e86;
  --color-m5: #c59875;
  --color-m6: #dbd1d2;
  --color-m7: #ffffff;
}
html {
  font-family: var(--font-family);
  font-size: var(--font-size);
  scroll-behavior: smooth;
}
.body {
  display: flex;
  flex-direction: column;
}

/* style header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.2em 0 0;
}
.header__nav {
  display: none;
}
.header__img,
.Differentiation-us__img,
.picture__img,
.footer__img {
  max-width: 100%;
  width: auto;
}
.header__button {
  height: 5em;
  width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__i {
  font-size: 2em;
}
.button__i-none {
  display: none;
}

/* style main */
.main {
  flex-grow: 2;
  flex-direction: column;
}

.main__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.about-us__h2,
.Differentiation-us__h2 {
  padding-top: 1.5em;
  font-size: 2em;
  font-weight: bold;
}
.about-us__p,
.Differentiation-us__p {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  /* letter-spacing: 0.1em; */
  line-height: 1.2em;
  text-align: justify;
}
.about-us__article {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 1.5em;
}
.article__mission,
.article__vision,
.Differentiation-us__div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.article__h3 {
  font-size: 1.5em;
  font-weight: bold;
}

.article__p,
.Differentiation-us__ul {
  list-style-type: square;
  font-size: 1.2em;
  line-height: 1.2em;
  text-decoration: none;
}
.Differentiation-us__img {
  padding: 0 0 1.2em 0;
}

.article__p {
  width: 80%;
  text-align: justify;
}
/* style footer */
.footer {
  background-image: url(https://gitlab.com/aniapaminoq/alura-barbershop/-/raw/main/assets/images/bg.jpg);
  color: var(--color-m7);
  padding: 0 0 1.2em 0;
}
.footer__div,
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}
.footer__social-media {
  display: flex;
  gap: 1.2em;
  font-size: 3.5em;
}
.footer__a {
  color: var(--color-m7);
}

/*  style media queries */
@media (max-width: 768px) {
}

@media (min-width: 769px) {
  .nav {
    display: flex;
    justify-content: flex-end;
    width: 70%;
  }
  .nav__ul {
    display: flex;
    font-size: 2em;
    gap: 1.5em;
  }
  .nav__a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-m0);
  }
  .nav__a:hover {
    color: var(--color-m5);
  }

  .button {
    display: none;
  }
  .about-us__article {
    display: flex;
    flex-direction: row;
  }
  .Differentiation-us__div {
    flex-direction: row;
    justify-content: center;
  }
  .footer__div {
    flex-direction: row;
  }
}
