@import url(../css/reset.css);
@import url(../css/index.css);
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,700&display=swap");

:root {
  --font-family: "Lato", sans-serif;
  --font-size: 16px;
  --color-m0: #000000;
  --color-m1: #10171f;
  --color-m2: #1b2d41;
  --color-m3: #989187;
  --color-m4: #ba9e86;
  --color-m5: #c59875;
  --color-m6: #dbd1d2;
  --color-m7: #ffffff;
}
html {
  font-family: var(--font-family);
  font-size: var(--font-size);
  scroll-behavior: smooth;
}
